/* ===================================================================================================================
    Large PC (Standard view)
   ===================================================================================================================*/
.header nav {
    width: 75%;
}

.content {
    width: 75%;
    display: flex;
    flex-direction: row;
}

.login-content, .register-content, .after-sign-up-content, .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    flex: 1 2;
}

.items {
    flex: 2 1;
}

footer .copyrights {
    width: 75%;
}

/* ===================================================================================================================
    Medium PC
   ===================================================================================================================*/

@media all and (max-width: 1024px) {
    .header nav {
        width: 80%;
    }

    .content {
        width: 80%;
    }

    footer .copyrights {
        width: 80%;
    }
}

/* ===================================================================================================================
    Tablet
   ===================================================================================================================*/

@media all and (max-width: 839px) {
    .header nav {
        width: 85%;
    }

    .content {
        width: 85%;
        flex-direction: column;
    }

    aside {
        flex: 0;
    }

    .items {
        flex: 0;
    }

    footer .copyrights {
        width: 85%;
    }
}

/* ===================================================================================================================
    Mobile
   ===================================================================================================================*/

@media all and (max-width: 480px) {
    .header nav {
        width: 90%;
    }

    .content {
        width: 90%;
    }

    footer .copyrights {
        width: 90%;
    }
}